{% extends "_parts/base.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}


<section id="banner">
  <div class="inner">
	<div class="twelve column" style="margin-top: 5%;text-align:center;">
          <h1 style="text-align:center;">OData to OpenAPI converter</h1>
          <hr />
          
          <p>
          	Convert your OData specification to OpenAPI.            
          </p>
          
          <form method="post" enctype="multipart/form-data">
            <input type="file" name="feilchen" />
            
            <br />
            <input type="submit" name="convert" value="Convert" />
          </form>


          <hr />
          <p style="font-size:12px;">
            If you don't like to upload your data or you want to automate the conversion within a pipeline
            you can use our docker containers <a href="https://github.com/axonivy/build-container/tree/master/odata-converter/2">OData Version 2</a>
            or <a href="https://github.com/axonivy/build-container/tree/master/odata-converter/4">OData Version 3 and 4</a> 
          </p>
        </div>
  </div>
</section>

{% endblock %}
