{% extends "_parts/base.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}


<p style="text-align:center;">Conversion has failed 😞!</p>

<div style="text-align:center;">
  <img src="/images/failed.jpg" width="210px" height="210px" />
</div>

<pre><code>{{ consoleLog }}</code></pre>

{% endblock %}
