{% extends "_parts/base.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}


<p style="text-align:center;font-size:18px;">Conversion is done 🚀! You can download your <a href="{{ downloadUrl }}" target="_blank">Open API specification</a>.</p>

<div style="text-align:center;">
  <img src="/images/done.jpg" width="210px" height="210px" />
</div>

<pre><code>{{ consoleLog }}</code></pre>

{% endblock %}
