{% extends "_parts/base.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}


<section id="banner">
  <div class="inner">
	  <div class="twelve column" style="margin-top: 5%;">
      <h1 style="text-align:center;">OData to OpenAPI converter</h1>
      <hr />
          
      <p style="text-align:center;">Conversion is done. You can download your <a href="{{ downloadUrl }}" target="_blank">Open API specification</a>.</p>

      <div style="text-align:center;">
        <img src="/images/done.jpg" width="210px" height="210px" />
      </div>

      <pre><code>{{ consoleLog }}</code></pre>
    </div>
  </div>
</section>

{% endblock %}
